<ul class="headerUL">
    <li onclick="window.location.replace('/')">Home</li>
    <li class="floatRight" onclick="window.location.replace('/signup')">Sign Up</li>
    <li class="floatRight" onclick="window.location.replace('/signin')">Sign In</li>
</ul>