<%- include("includes/header.ejs") %>
    <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <%- include("includes/menu.ejs") %>
            <div class="homeContent">
                <h1>Facebook</h1>
                <img src="/imgs/1.png" alt="Facebook Logo" class="floatRight">
                Facebook is an online social media and social networking service owned by American company Meta
                Platforms. Founded in 2004 by Mark Zuckerberg with fellow Harvard College students and roommates Eduardo
                Saverin, Andrew McCollum, Dustin Moskovitz, and Chris Hughes, its name comes from the face book
                directories often given to American university students. Membership was initially limited to Harvard
                students, gradually expanding to other North American universities and, since 2006, anyone over 13 years
                old. As of July 2022, Facebook claimed 2.93 billion monthly active users, and ranked third worldwide
                among the most visited websites as of July 2022. It was the most downloaded mobile app of the
                2010s. <br><br>
                Facebook can be accessed from devices with Internet connectivity, such as personal computers, tablets
                and smartphones. After registering, users can create a profile revealing information about themselves.
                They can post text, photos and multimedia which are shared with any other users who have agreed to be
                their "friend" or, with different privacy settings, publicly. Users can also communicate directly with
                each other with Facebook Messenger, join common-interest groups, and receive notifications on the
                activities of their Facebook friends and the pages they follow.
                <br><br>
                The subject of numerous controversies, Facebook has often been criticized over issues such as user
                privacy (as with the Cambridge Analytica data scandal), political manipulation (as with the 2016 U.S.
                elections) and mass surveillance. Posts originating from the Facebook page of Breitbart News, a media
                organization previously affiliated with Cambridge Analytica, are currently among the most widely shared
                political content on Facebook. Facebook has also been subject to criticism over
                psychological effects such as addiction and low self-esteem, and various controversies over content such
                as fake news, conspiracy theories, copyright infringement, and hate speech. Commentators have
                accused Facebook of willingly facilitating the spread of such content, as well
                as exaggerating its number of users to appeal to advertisers.<br><br><br><br>
                <h2>History</h2>
                <img src="/imgs/2.png"
                    title="Original layout and name of Thefacebook in 2004, showing Al Pacino's face superimposed with binary numbers as Facebook's original logo, designed by co-founder Andrew McCollum"
                    alt="Original layout and name of Thefacebook in 2004, showing Al Pacino's face superimposed with binary numbers as Facebook's original logo, designed by co-founder Andrew McCollum"
                    class="floatRight">
                Zuckerberg built a website called "Facemash" in 2003 while attending Harvard University. The site was
                comparable to Hot or Not and used "photos compiled from the online face books of nine Houses, placing
                two next to each other at a time and asking users to choose the "hotter" person". Facemash attracted 450
                visitors and 22,000 photo-views in its first four hours. The site was sent to several campus group
                listservs, but was shut down a few days later by Harvard administration. Zuckerberg faced expulsion and
                was charged with breaching security, violating copyrights and violating individual privacy. Ultimately,
                the charges were dropped. Zuckerberg expanded on this project that semester by creating a social study
                tool. He uploaded art images, each accompanied by a comments section, to a website he shared with his
                classmates.<br><br>
                A "face book" is a student directory featuring photos and personal information. In 2003, Harvard had
                only a paper version along with private online directories. Zuckerberg told The Harvard Crimson,
                "Everyone's been talking a lot about a universal face book within Harvard. ... I think it's kind of
                silly that it would take the University a couple of years to get around to it. I can do it better than
                they can, and I can do it in a week." In January 2004, Zuckerberg coded a new website, known as
                "TheFacebook", inspired by a Crimson editorial about Facemash, stating, "It is clear that the technology
                needed to create a centralized Website is readily available ... the benefits are many." Zuckerberg met
                with Harvard student Eduardo Saverin, and each of them agreed to invest $1,000 ($1,435 in 2021 dollars)
                in the site. On February 4, 2004, Zuckerberg launched "TheFacebook", originally located at
                <a href="https://www.thefacebook.com">thefacebook.com</a>.
                <img src="/imgs/3.jpg" alt="Mark Zuckerberg, co-creator of Facebook, in his Harvard dorm room, 2005"
                    title="Mark Zuckerberg, co-creator of Facebook, in his Harvard dorm room, 2005">
                <br><br>
                Six days after the site launched, Harvard
                seniors Cameron Winklevoss, Tyler Winklevoss, and Divya Narendra accused Zuckerberg of intentionally
                misleading them into believing that he would help them build a social network called
                HarvardConnection.com. They claimed that he was instead using their ideas to build a competing
                product. The three complained to the Crimson and the newspaper began an investigation. They later
                sued Zuckerberg, settling in 2008 for 1.2 million shares (worth $300 million ($354 million in 2021
                dollars) at Facebook's IPO).<br><br> Membership was initially restricted to students of Harvard College.
                Within a month, more than half the
                undergraduates had registered. Dustin Moskovitz, Andrew McCollum, and Chris Hughes joined Zuckerberg
                to help manage the growth of the website. In March 2004, Facebook expanded to Columbia, Stanford and
                Yale. It then became available to all Ivy League colleges, Boston University, NYU, MIT, and
                successively most universities in the United States and Canada.
                <br><br>
                In mid-2004, Napster co-founder and entrepreneur Sean Parker—an informal advisor to Zuckerberg—became
                company president. In June 2004, the company moved to Palo Alto, California. It received its
                first investment later that month from PayPal co-founder Peter Thiel. In 2005, the company dropped
                "the" from its name after purchasing the domain name Facebook.com for US$200,000 ($277,492 in 2021
                dollars). The domain had belonged to AboutFace Corporation.
                <br><br>
                In May 2005, Accel Partners invested $12.7 million ($17.6 million in 2021 dollars) in Facebook, and
                Jim Breyer added $1 million ($1.39 million in 2021 dollars) of his own money. A high-school
                version of the site launched in September 2005. Eligibility expanded to include employees of several
                companies, including Apple Inc. and Microsoft.
                <br><br>
                In May 2006, Facebook hired its first intern, Julie Zhuo. After a month, Zhuo was hired as a
                full-time engineer. On September 26, 2006, Facebook opened to everyone at least 13 years old with a
                valid email address. By late 2007, Facebook had 100,000 pages on which companies promoted
                themselves. Organization pages began rolling out in May 2009. On October 24, 2007, Microsoft
                announced that it had purchased a 1.6% share of Facebook for $240 million ($314 million in 2021
                dollars), giving Facebook a total implied value of around $15 billion ($19.6 billion in 2021
                dollars). Microsoft's purchase included rights to place international advertisements.
                <br><br>
                In May 2007, at the first f8 developers conference, Facebook announced the launch of the Facebook
                Developer Platform, providing a framework for software developers to create applications that interact
                with core Facebook features. By the second annual f8 developers conference on July 23, 2008, the number
                of applications on the platform had grown to 33,000, and the number of registered developers had
                exceeded 400,000.
                <br><br>
                The website won awards such as placement into the "Top 100 Classic Websites" by PC Magazine in 2007,
                and winning the "People's Voice Award" from the Webby Awards in 2008.
                <br><br>
                On July 20, 2008, Facebook introduced "Facebook Beta", a significant redesign of its user interface on
                selected networks. The Mini-Feed and Wall were consolidated, profiles were separated into tabbed
                sections, and an effort was made to create a cleaner look. Facebook began migrating users to the new
                version in September 2008.
                <br><br>
                In October 2008, Facebook announced that its international headquarters would locate in Dublin,
                Ireland. In September 2009, Facebook said that it had achieved positive cash flow for the first
                time. A January 2009 Compete.com study ranked Facebook the most used social networking service by
                worldwide monthly active users.[better source needed] China blocked Facebook in 2009 following the
                Ürümqi riots.
                <br><br>
                In 2010, Facebook won the Crunchie "Best Overall Startup Or Product" award for the third year in a
                row.
                <br><br>
                The company announced 500 million users in July 2010. Half of the site's membership used Facebook
                daily, for an average of 34 minutes, while 150 million users accessed the site from mobile devices. A
                company representative called the milestone a "quiet revolution." In October 2010 groups were
                introduced. In November 2010, based on SecondMarket Inc. (an exchange for privately held companies'
                shares), Facebook's value was $41 billion ($50.9 billion in 2021 dollars). The company had slightly
                surpassed eBay to become the third largest American web company after Google and Amazon.com.
                <br><br>
                On November 15, 2010, Facebook announced it had acquired the domain name fb.com from the American Farm
                Bureau Federation for an undisclosed amount. On January 11, 2011, the Farm Bureau disclosed $8.5 million
                ($10.2 million in 2021 dollars) in "domain sales income", making the acquisition of FB.com one of
                the ten highest domain sales in history.
                <br><br>
                In February 2011, Facebook announced plans to move its headquarters to the former Sun Microsystems
                campus in Menlo Park, California. In March 2011, it was reported that Facebook was removing
                about 20,000 profiles daily for violations such as spam, graphic content and underage use, as part of
                its efforts to boost cyber security. Statistics showed that Facebook reached one trillion page views
                in the month of June 2011, making it the most visited website tracked by DoubleClick. According
                to a Nielsen study, Facebook had in 2011 become the second-most accessed website in the U.S. behind
                Google.
                In March 2012, Facebook announced App Center, a store selling applications that operate via the website.
                The store was to be available on iPhones, Android devices, and for mobile web users.<br><br>
                <img src="/imgs/4.png"
                    alt="Billboard on the Thomson Reuters building welcomes Facebook to NASDAQ, May 2012"
                    title="Billboard on the Thomson Reuters building welcomes Facebook to NASDAQ, May 2012"
                    class="floatRight">
                Facebook's initial public offering came on May 17, 2012, at a share price of US$38 ($45.00 in 2021
                dollars). The company was valued at $104 billion ($123 billion in 2021 dollars), the largest
                valuation to that date. The IPO raised $16 billion ($18.9 billion in 2021 dollars), the
                third-largest in U.S. history, after Visa Inc. in 2008 and AT&T Wireless in 2000. Based on its
                2012 income of $5 billion ($5.9 billion in 2021 dollars), Facebook joined the Fortune 500 list for
                the first time in May 2013, ranked 462. The shares set a first-day record for trading volume of an
                IPO (460 million shares). The IPO was controversial given the immediate price declines that
                followed, and was the subject of lawsuits, while SEC and FINRA both launched
                investigations.
                <br><br>
                Zuckerberg announced at the start of October 2012 that Facebook had one billion monthly active
                users, including 600 million mobile users, 219 billion photo uploads and 140 billion friend
                connections.
                <br><br>
                On January 15, 2013, Facebook announced Facebook Graph Search, which provides users with a "precise
                answer", rather than a link to an answer by leveraging data present on its site. Facebook emphasized
                that the feature would be "privacy-aware", returning results only from content already shared with the
                user. On April 3, 2013, Facebook unveiled Facebook Home, a user-interface layer for Android devices
                offering greater integration with the site. HTC announced HTC First, a phone with Home pre-loaded.
                <br><br> On April 15, 2013, Facebook announced an alliance across 19 states with the National
                Association of
                Attorneys General, to provide teenagers and parents with information on tools to manage social
                networking profiles. On April 19 Facebook modified its logo to remove the faint blue line at the
                bottom of the "F" icon. The letter F moved closer to the edge of the box. Following a campaign by 100
                advocacy groups, Facebook agreed to update its policy on hate speech. The
                campaign highlighted content promoting domestic violence and sexual violence against women and led 15
                advertisers to withdraw, including Nissan UK, House of Burlesque, and Nationwide UK. The company
                initially stated, "while it may be vulgar and offensive, distasteful content on its own does not violate
                our policies". It took action on May 29. <br><br>
                On June 12, Facebook announced that it was introducing clickable hashtags to help users follow trending
                discussions, or search what others are talking about on a topic. San Mateo County, California,
                became the top wage-earning county in the country after the fourth quarter of 2012 because of Facebook.
                The Bureau of Labor Statistics reported that the average salary was 107% higher than the previous year,
                at $168,000 a year ($198,293 in 2021 dollars), more than 50% higher than the next-highest county,
                New York County (better known as Manhattan), at roughly $110,000 a year ($129,835 in 2021
                dollars).
                <br><br> Facebook joined Alliance for Affordable Internet (A4AI) in October, as it launched. The A4AI is
                a
                coalition of public and private organizations that includes Google, Intel and Microsoft. Led by Sir Tim
                Berners-Lee, the A4AI seeks to make Internet access more affordable to ease access in the developing
                world.
                <br><br> The company celebrated its 10th anniversary during the week of February 3, 2014. In January
                2014,
                over one billion users connected via a mobile device. As of June, mobile accounted for 62% of
                advertising revenue, an increase of 21% from the previous year. By September Facebook's market
                capitalization had exceeded $200 billion ($229 billion in 2021 dollars).
                <br><br> Zuckerberg participated in a Q&A session at Tsinghua University in Beijing, China, on October
                23, where
                he attempted to converse in Mandarin. Zuckerberg hosted visiting Chinese politician Lu Wei, known as the
                "Internet czar" for his influence in China's online policy, on December 8. <br><br>
                2015–2020: Algorithm revision; fake news
                As of 2015, Facebook's algorithm was revised in an attempt to filter out false or misleading content,
                such as fake news stories and hoaxes. It relied on users who flag a story accordingly. Facebook
                maintained that satirical content should not be intercepted. The algorithm was accused of
                maintaining a "filter bubble", where material the user disagrees with and posts with few likes
                would be deprioritized. In November, Facebook extended paternity leave from 4 weeks to 4
                months. <br><br>
                On April 12, 2016, Zuckerberg outlined his 10-year vision, which rested on three main pillars:
                artificial intelligence, increased global connectivity, and virtual and augmented reality. In July,
                a US$1 billion suit was filed against the company alleging that it permitted Hamas to use it to perform
                assaults that cost the lives of four people. Facebook released its blueprints of Surround 360
                camera on GitHub under an open-source license. In September, it won an Emmy for its animated short
                "Henry". In October, Facebook announced a fee-based communications tool called Workplace that aims
                to "connect everyone" at work. Users can create profiles, see updates from co-workers on their news
                feed, stream live videos and participate in secure group chats. <br><br>
                Following the 2016 U.S. presidential election, Facebook announced that it would combat fake news by
                using fact checkers from sites like FactCheck.org and Associated Press (AP), making reporting hoaxes
                easier through crowdsourcing, and disrupting financial incentives for abusers. <br><br>
                <img src="/imgs/5.png" alt="Oculus VR headset" title="Oculus VR headset" class="floatRight">
                On January
                17, 2017, Facebook COO Sheryl Sandberg planned to open Station F, a startup incubator campus in Paris,
                France. On a six-month cycle, Facebook committed to work with ten to 15 data-driven startups
                there. On April 18, Facebook announced the beta launch of Facebook Spaces at its annual F8
                developer conference. Facebook Spaces is a virtual reality version of Facebook for Oculus VR
                goggles. In a virtual and shared space, users can access a curated selection of 360-degree photos and
                videos using their avatar, with the support of the controller. Users can access their own photos and
                videos, along with media shared on their newsfeed. In September, Facebook announced it would spend
                up to US$1 billion on original shows for its Facebook Watch platform. On October 16, it acquired
                the anonymous compliment app tbh, announcing its intention to leave the app
                independent.
                <br><br>
                In October 2017, Facebook expanded its work with Definers Public Affairs, a PR firm that had originally
                been hired to monitor press coverage of the company to address concerns primarily regarding Russian
                meddling, then mishandling of user data by Cambridge Analytica, hate speech on Facebook, and calls for
                regulation. Company spokesman Tim Miller stated that a goal for tech firms should be to "have
                positive content pushed out about your company and negative content that's being pushed out about your
                competitor". Definers claimed that George Soros was the force behind what appeared to be a broad
                anti-Facebook movement, and created other negative media, along with America Rising, that was picked up
                by larger media organisations like Breitbart News. Facebook cut ties with the agency in late
                2018, following public outcry over their association.
                <br><br>
                In May 2018 at F8, the company announced it would offer its own dating service. Shares in competitor
                Match Group fell by 22%. Facebook Dating includes privacy features and friends are unable to view
                their friends' dating profile. In July, Facebook was charged £500,000 by UK watchdogs for failing
                to respond to data erasure requests. On July 18, Facebook established a subsidiary named Lianshu
                Science & Technology in Hangzhou City, China, with $30 million ($32.4 million in 2021 dollars) of
                capital. All its shares are held by Facebook Hong. Approval of the registration of the subsidiary
                was then withdrawn, due to a disagreement between officials in Zhejiang province and the Cyberspace
                Administration of China. On July 26, Facebook became the first company to lose over $100 billion
                ($108 billion in 2021 dollars) worth of market capitalization in one day, dropping from nearly $630
                billion to $510 billion after disappointing sales reports. On July 31, Facebook said that the
                company had deleted 17 accounts related to the 2018 U.S. midterm elections. On September 19, Facebook
                announced that, for news distribution outside the United States, it would work with U.S. funded
                democracy promotion organizations, International Republican Institute and the National Democratic
                Institute, which are loosely affiliated with the Republican and Democratic parties. Through the
                Digital Forensic Research Lab Facebook partners with the Atlantic Council, a NATO-affiliated think
                tank. In November, Facebook launched smart displays branded Portal and Portal Plus (Portal+). They
                support Amazon's Alexa (intelligent personal assistant service). The devices include video chat function
                with Facebook Messenger.
                <br><br>
                In August 2018, a lawsuit was filed in Oakland, California claiming that Facebook created fake accounts
                in order to inflate its user data and appeal to advertisers in the process. <br><br>
                <img src="/imgs/6.png" alt="Aerial view of Meta HQ in Menlo Park, California"
                    title="Aerial view of Meta HQ in Menlo Park, California">
                In January 2019, the 10-year challenge was started asking users to post a photograph of themselves
                from 10 years ago (2009) and a more recent photo.
                <br><br>
                Criticized for its role in vaccine hesitancy, Facebook announced in March 2019 that it would provide
                users with "authoritative information" on the topic of vaccines. A study in the journal
                Vaccine of advertisements posted in the three months prior to that found that 54% of the
                anti-vaccine advertisements on Facebook were placed by just two organisations funded by well-known
                anti-vaccination activists. The Children's Health Defense / World Mercury Project chaired by Robert
                F. Kennedy Jr. and Stop Mandatory Vaccination, run by campaigner Larry Cook, posted 54% of the
                advertisements. The ads often linked to commercial products, such as natural remedies and books.
                <br><br>
                On March 14, the Huffington Post reported that Facebook's PR agency had paid someone to tweak Facebook
                COO Sheryl Sandberg's Wikipedia page, as well as adding a page for the global head of PR, Caryn
                Marooney.
                <br><br>
                In March 2019, the perpetrator of the Christchurch mosque shootings in New Zealand used Facebook to
                stream live footage of the attack as it unfolded. Facebook took 29 minutes to detect the livestreamed
                video, which was eight minutes longer than it took police to arrest the gunman. About 1.3m copies of the
                video were blocked from Facebook but 300,000 copies were published and shared. Facebook has promised
                changes to its platform; spokesman Simon Dilner told Radio New Zealand that it could have done a better
                job. Several companies, including the ANZ and ASB banks, have stopped advertising on Facebook after the
                company was widely condemned by the public. Following the attack, Facebook began blocking white
                nationalist, white supremacist, and white separatist content, saying that they could not be meaningfully
                separated. Previously, Facebook had only blocked overtly supremacist content. The older policy had been
                condemned by civil rights groups, who described these movements as functionally indistinct.
                Further bans were made in mid-April 2019, banning several British far-right organizations and associated
                individuals from Facebook, and also banning praise or support for them.
                <br><br>
                NTJ's member Moulavi Zahran Hashim, a radical Islamist imam believed to be the mastermind behind the
                2019 Sri Lanka Easter bombings, preached on a pro-ISIL Facebook account, known as "Al-Ghuraba"
                media. <br><br>
                <img src="/imgs/7.png"
                    alt="Facebook CEO Mark Zuckerberg and Facebook executives with President Donald Trump in September 2019"
                    title="Facebook CEO Mark Zuckerberg and Facebook executives with President Donald Trump in September 2019"
                    class="floatRight">
                On May 2, 2019, at F8, the company announced its new vision with the tagline "the future is
                private". A redesign of the website and mobile app was introduced, dubbed as "FB5". The event
                also featured plans for improving groups, a dating platform, end-to-end encryption on its
                platforms, and allowing users on Messenger to communicate directly with WhatsApp and Instagram
                users.
                <br><br>
                On July 31, 2019, Facebook announced a partnership with University of California, San Francisco to build
                a non-invasive, wearable device that lets people type by simply imagining themselves talking.
                <br><br>
                On August 13, 2019, it was revealed that Facebook had enlisted hundreds of contractors to create and
                obtain transcripts of the audio messages of users. This was especially common of Facebook
                Messenger, where the contractors frequently listened to and transcribed voice messages of users.
                After this was first reported on by Bloomberg News, Facebook released a statement confirming the report
                to be true, but also stated that the monitoring program was now suspended.
                <br><br>
                On September 5, 2019, Facebook launched Facebook Dating in the United States. This new application
                allows users to integrate their Instagram posts in their dating profile.
                <br><br>
                Facebook News, which features selected stories from news organizations, was launched on October 25.
                Facebook's decision to include far-right website Breitbart News as a "trusted source" was negatively
                received.
                <br><br>
                On November 17, 2019, the banking data for 29,000 Facebook employees was stolen from a payroll worker's
                car. The data was stored on unencrypted hard drives and included bank account numbers, employee names,
                the last four digits of their social security numbers, salaries, bonuses, and equity details. The
                company didn't realize the hard drives were missing until November 20. Facebook confirmed that the
                drives contained employee information on November 29. Employees weren't notified of the break-in until
                December 13, 2019.
                <br><br>
                On March 10, 2020, Facebook appointed two new directors Tracey Travis and Nancy Killefer to their board
                of members.
                <br><br>
                In June 2020, several major companies including Adidas, Aviva, Coca-Cola, Ford, HP, InterContinental
                Hotels Group, Mars, Starbucks, Target, and Unilever, announced they would pause adverts on Facebook for
                July in support of the Stop Hate For Profit campaign which claimed the company was not doing enough to
                remove hateful content. The BBC noted that this was unlikely to affect the company as most of
                Facebook's advertising revenue comes from small- to medium-sized businesses.
                <br><br>
                On August 14, 2020, Facebook started integrating the direct messaging service of Instagram with its own
                Messenger for both iOS and Android devices. After the update, an update screen is said to pop up on
                Instagram's mobile app with the following message, "There's a New Way to Message on Instagram" with a
                list of additional features. As part of the update, the regular DM icon on the top right corner of
                Instagram will be replaced by the Facebook Messenger logo.
                <br><br>
                On September 15, 2020, Facebook launched a climate science information centre to promote authoritative
                voices on climate change and provide access of "factual and up-to-date" information on climate science.
                It featured facts, figures and data from organizations, including the Intergovernmental Panel on Climate
                Change (IPCC), Met Office, UN Environment Programme (UNEP), National Oceanic and Atmospheric
                Administration (NOAA) and World Meteorological Organization (WMO), with relevant news posts.
                <br><br>
                After the 2020 U.S. presidential election, Facebook temporarily increased the weight of ecosystem
                quality in its news feed algorithm.
                <br><br>
                2020–present: FTC lawsuit, corporate re-branding, shut down of facial recognition technology, ease of
                policy
                See also: 2021 Facebook leak and Frances Haugen
                Facebook was sued by the Federal Trade Commission as well as a coalition of several states for illegal
                monopolization and antitrust. The FTC and states sought the courts to force Facebook to sell its
                subsidiaries WhatsApp and Instagram. The suits were dismissed by a federal judge on June 28,
                2021, who stated that there was not enough evidence brought in the suit to determine Facebook to be a
                monopoly at this point, though allowed the FTC to amend its case to include additional evidence. In
                its amended filings in August 2021, the FTC asserted that Facebook had been a monopoly in the area of
                personal social networks since 2011, distinguishing Facebook's activities from social media services
                like TikTok that broadcast content without necessarily limiting that message to intended
                recipients.
                <br><br>
                In response to the proposed bill in the Australian Parliament for a News Media Bargaining Code, on
                February 17, 2021, Facebook blocked Australian users from sharing or viewing news content on its
                platform, as well as pages of some government, community, union, charity, political, and emergency
                services. The Australian government strongly criticised the move, saying it demonstrated the
                "immense market power of these digital social giants".
                <br><br>
                On February 22, Facebook said it reached an agreement with the Australian government that would see news
                returning to Australian users in the coming days. As part of this agreement, Facebook and Google can
                avoid the News Media Bargaining Code adopted on February 25 if they "reach a commercial bargain with a
                news business outside the Code".
                <br><br>
                Facebook has been accused of removing and shadow banning content that spoke either in favor of
                protesting Indian farmers or against Narendra Modi's government. India-based employees of
                Facebook are at risk of arrest.
                <br><br>
                On February 27, 2021, Facebook announced Facebook BARS app for rappers.
                <br><br>
                On June 29, 2021, Facebook announced Bulletin, a platform for independent writers. Unlike
                competitors such as Substack, Facebook would not take a cut of subscription fees of writers using that
                platform upon its launch, like Malcolm Gladwell and Mitch Albom. According to The Washington Post
                technology writer Will Oremus, the move was criticized by those who viewed it as an tactic intended by
                Facebook to force those competitors out of business.
                <br><br>
                In October 2021, owner Facebook, Inc. changed its company name to Meta Platforms, Inc., or simply
                "Meta", as it shifts its focus to building the "metaverse". This change does not affect the name of the
                Facebook social networking service itself, instead being similar to the creation of Alphabet as Google's
                parent company in 2015.
                <br><br>
                In November 2021, Facebook stated it would stop targeting ads based on data related to health, race,
                ethnicity, political beliefs, religion and sexual orientation. The change will occur in January and will
                affect all apps owned by Meta Platforms.
                <br><br>
                In February 2022, Facebook's daily active users dropped for the first time in its 18-year history.
                According to Facebook's parent company Meta Networks, DAUs dropped to 1.929 billion in the three months
                ending in December, down from 1.930 billion the previous quarter. Furthermore, the company warned that
                revenue growth would slow due to competition from TikTok and YouTube, as well as advertisers cutting
                back on spending.
                <br><br>
                On March 10, 2022, Facebook announced that it will temporarily ease rules to allow violent speech
                against 'Russian invaders'. Russia then banned all Meta services, including Instagram.
                <br><br>
                October 4, 2021, global service outage
                Main article: 2021 Facebook outage
                On October 4, 2021, Facebook had its worst outage since 2008. The outage was global in scope, and took
                down all Facebook properties, including Instagram and WhatsApp, from approximately 15:39 UTC to 22:05
                UTC, and affected roughly three billion users. Security experts identified the problem as
                a BGP withdrawal of all of the IP routes to their Domain Name (DNS) servers which were all self-hosted
                at the time. The outage also affected all internal communications systems used by Facebook
                employees, which disrupted restoration efforts.
                <br><br>
                Shutdown of facial recognition
                On November 2, 2021, Facebook announced it would shut down its facial recognition technology and delete
                the data on over a billion users. Meta later announced plans to implement the technology as well as
                other biometric systems in its future products, such as the metaverse.
                <br><br>
                The shutdown of the technology will reportedly also stop Facebook's automated alt text system, used to
                transcribe media on the platform for visually impaired users.
                <h2>Website</h2>
                The website's primary color is blue as Zuckerberg is red–green colorblind, a realization that occurred
                after a test undertaken around 2007. Facebook is built in PHP, compiled with HipHop for PHP, a
                "source code transformer" built by Facebook engineers that turns PHP into C++. The deployment of
                HipHop reportedly reduced average CPU consumption on Facebook servers by 50%. <br><br>
                <img src="/imgs/8.png" alt="Profile shown on Thefacebook in 2005"
                    title="Profile shown on Thefacebook in 2005" class="floatRight"><br><br>
                2012 architecture
                <br><br>
                Facebook is developed as one monolithic application. According to an interview in 2012 with Facebook
                build engineer Chuck Rossi, Facebook compiles into a 1.5 GB binary blob which is then distributed to the
                servers using a custom BitTorrent-based release system. Rossi stated that it takes about 15 minutes to
                build and 15 minutes to release to the servers. The build and release process has zero downtime. Changes
                to Facebook are rolled out daily.
                <img src="/imgs/9.png" alt="Previous Facebook logo in use from August 23, 2005, until July 1, 2015"
                    title="Previous Facebook logo in use from August 23, 2005, until July 1, 2015"><br><br>
                <br><br>
                Facebook used a combination platform based on HBase to store data across distributed machines. Using a
                tailing architecture, events are stored in log files, and the logs are tailed. The system rolls these
                events up and writes them to storage. The user interface then pulls the data out and displays it to
                users. Facebook handles requests as AJAX behavior. These requests are written to a log file using Scribe
                (developed by Facebook).
                <br><br>
                Data is read from these log files using Ptail, an internally built tool to aggregate data from multiple
                Scribe stores. It tails the log files and pulls data out. Ptail data are separated into three streams
                and sent to clusters in different data centers (Plugin impression, News feed impressions, Actions
                (plugin + news feed)). Puma is used to manage periods of high data flow (Input/Output or IO). Data is
                processed in batches to lessen the number of times needed to read and write under high demand periods.
                (A hot article generates many impressions and news feed impressions that cause huge data skews.) Batches
                are taken every 1.5 seconds, limited by memory used when creating a hash table.
                <br><br>
                Data is then output in PHP format. The backend is written in Java. Thrift is used as the messaging
                format so PHP programs can query Java services. Caching solutions display pages more quickly. The data
                is then sent to MapReduce servers where it is queried via Hive. This serves as a backup as the data can
                be recovered from Hive.
                <br><br>
                Content delivery network (CDN)
                Facebook uses its own content delivery network or "edge network" under the domain fbcdn.net for serving
                static data. Until the mid 2010s, Facebook also relied on Akamai for CDN
                services.
                <br><br>
                Hack programming language
                On March 20, 2014, Facebook announced a new open-source programming language called Hack. Before public
                release, a large portion of Facebook was already running and "battle tested" using the new
                language.
                <br><br>
                User profile/personal timeline
                <br><br>
                <img src="/imgs/10.png" alt="Facebook login/signup screen" title="Facebook login/signup screen"
                    class="floatRight">
                Each registered user on Facebook has a personal profile that shows their posts and content. The
                format of individual user pages was revamped in September 2011 and became known as "Timeline", a
                chronological feed of a user's stories, including status updates, photos, interactions with
                apps and events. The layout let users add a "cover photo". Users were given more privacy
                settings. In 2007, Facebook launched Facebook Pages for brands and celebrities to interact with
                their fanbases. 100,000 Pages[further explanation needed] launched in November. In June
                2009, Facebook introduced a "Usernames" feature, allowing users to choose a unique nickname used in the
                URL for their personal profile, for easier sharing.
                <br><br>
                In February 2014, Facebook expanded the gender setting, adding a custom input field that allows users to
                choose from a wide range of gender identities. Users can also set which set of gender-specific pronoun
                should be used in reference to them throughout the site. In May 2014, Facebook introduced
                a feature to allow users to ask for information not disclosed by other users on their profiles. If a
                user does not provide key information, such as location, hometown, or relationship status, other users
                can use a new "ask" button to send a message asking about that item to the user in a single
                click.
                <br><br>
                News Feed
                <br><br>
                News Feed appears on every user's homepage and highlights information including profile changes,
                upcoming events and friends' birthdays. This enabled spammers and other users to manipulate these
                features by creating illegitimate events or posting fake birthdays to attract attention to their profile
                or cause. Initially, the News Feed caused dissatisfaction among Facebook users; some complained it
                was too cluttered and full of undesired information, others were concerned that it made it too easy for
                others to track individual activities (such as relationship status changes, events, and conversations
                with other users). Zuckerberg apologized for the site's failure to include appropriate privacy
                features. Users then gained control over what types of information are shared automatically with
                friends. Users are now able to prevent user-set categories of friends from seeing updates about certain
                types of activities, including profile changes, Wall posts and newly added friends.
                <br><br>
                On February 23, 2010, Facebook was granted a patent on certain aspects of its News Feed. The patent
                covers News Feeds in which links are provided so that one user can participate in the activity of
                another user. The sorting and display of stories in a user's News Feed is governed by the EdgeRank
                algorithm.
                <br><br>
                The Photos application allows users to upload albums and photos. Each album can contain 200
                photos. Privacy settings apply to individual albums. Users can "tag", or label, friends in a photo.
                The friend receives a notification about the tag with a link to the photo. This photo tagging
                feature was developed by Aaron Sittig, now a Design Strategy Lead at Facebook, and former Facebook
                engineer Scott Marlette back in 2006 and was only granted a patent in 2011.
                <br><br>
                On June 7, 2012, Facebook launched its App Center to help users find games and other applications.
                <br><br>
                On May 13, 2015, Facebook in association with major news portals launched "Instant Articles" to provide
                news on the Facebook news feed without leaving the site.
                <br><br>
                In January 2017, Facebook launched Facebook Stories for iOS and Android in Ireland. The feature,
                following the format of Snapchat and Instagram stories, allows users to upload photos and videos that
                appear above friends' and followers' News Feeds and disappear after 24 hours.
                <br><br>
                On October 11, 2017, Facebook introduced the 3D Posts feature to allow for uploading interactive 3D
                assets. On January 11, 2018, Facebook announced that it would change News Feed to prioritize
                friends/family content and de-emphasize content from media companies.
                <br><br>
                In February 2020, Facebook announced it would spend $1 billion ($1.05 billion in 2021 dollars[29]) to
                license news material from publishers for the next three years; a pledge coming as the company falls
                under scrutiny from governments across the globe over not paying for news content appearing on the
                platform. The pledge would be in addition to the $600 million ($628 million in 2021 dollars[29]) paid
                since 2018 through deals with news companies such as The Guardian and Financial Times.
                <br><br>
                In March and April 2021, in response to Apple announcing changes to its iOS device's Identifier for
                Advertisers policy, which included requiring app developers to directly request to users the ability to
                track on an opt-in basis, Facebook purchased full-page newspaper advertisements attempting to convince
                users to allow tracking, highlighting the effects targeted ads have on small businesses. Facebook's
                efforts were ultimately unsuccessful, as Apple released iOS 14.5 in late April 2021, containing the
                feature for users in what has been deemed "App Tracking Transparency". Moreover, statistics from Verizon
                Communications subsidiary Flurry Analytics show 96% of all iOS users in the United States are not
                permitting tracking at all, and only 12% of worldwide iOS users are allowing tracking, which some news
                outlets deem "Facebook's nightmare", among similar terms. Despite the news, Facebook
                has stated that the new policy and software update would be "manageable".
                <br><br>
                Like button
                <br><br>
                <img src="/imgs/11.png"
                    alt="Human billboard advertising Facebook Canberra in the City page at the National Multicultural Festival"
                    title="Human billboard advertising Facebook Canberra in the City page at the National Multicultural Festival"
                    class="floatRight">
                Facebook Messenger is an instant messaging service and software application. It began as Facebook Chat
                in 2008, was revamped in 2010 and eventually became a standalone mobile app in August 2011,
                while remaining part of the user page on browsers.
                <br><br>
                Complementing regular conversations, Messenger lets users make one-to-one and group voice
                and video calls. Its Android app has integrated support for SMS and "Chat Heads", which are
                round profile photo icons appearing on-screen regardless of what app is open, while both apps
                support multiple accounts, conversations with optional end-to-end encryption and "Instant
                Games". Some features, including sending money and requesting transportation, are limited
                to the United States. In 2017, Facebook added "Messenger Day", a feature that lets users share
                photos and videos in a story-format with all their friends with the content disappearing after 24
                hours; Reactions, which lets users tap and hold a message to add a reaction through an emoji;
                and Mentions, which lets users in group conversations type @ to give a particular user a
                notification.
                <br><br>
                Businesses and users can interact through Messenger with features such as tracking purchases and
                receiving notifications, and interacting with customer service representatives. Third-party developers
                can integrate apps into Messenger, letting users enter an app while inside Messenger and optionally
                share details from the app into a chat. Developers can build chatbots into Messenger, for uses such
                as news publishers building bots to distribute news. The M virtual assistant (U.S.) scans chats for
                keywords and suggests relevant actions, such as its payments system for users mentioning
                money. Group chatbots appear in Messenger as "Chat Extensions". A "Discovery" tab allows
                finding bots, and enabling special, branded QR codes that, when scanned, take the user to a specific
                bot.
                <br><br>
                Privacy policy
                See also: § Privacy
                Facebook's data policy outlines its policies for collecting, storing, and sharing user's data.
                Facebook enables users to control access to individual posts and their profile through privacy
                settings. The user's name and profile picture (if applicable) are public.
                <br><br>
                Facebook's revenue depends on targeted advertising, which involves analyzing user data to decide which
                ads to show each user. Facebook buys data from third parties, gathered from both online and offline
                sources, to supplement its own data on users. Facebook maintains that it does not share data used for
                targeted advertising with the advertisers themselves. The company states:
                <br><br>
                "We provide advertisers with reports about the kinds of people seeing their ads and how their ads are
                performing, but we don't share information that personally identifies you (information such as your name
                or email address that by itself can be used to contact you or identifies who you are) unless you give us
                permission. For example, we provide general demographic and interest information to advertisers (for
                example, that an ad was seen by a woman between the ages of 25 and 34 who lives in Madrid and likes
                software engineering) to help them better understand their audience. We also confirm which Facebook ads
                led you to make a purchase or take an action with an advertiser."
                <br><br>
                As of October 2021, Facebook claims it uses the following policy for sharing user data with third
                parties:
                <br><br>
                Apps, websites, and third-party integrations on or using our Products.
                <br><br>
                When you choose to use third-party apps, websites, or other services that use, or are integrated with,
                our Products, they can receive information about what you post or share. For example, when you play a
                game with your Facebook friends or use a Facebook Comment or Share button on a website, the game
                developer or website can receive information about your activities in the game or receive a comment or
                link that you share from the website on Facebook. Also, when you download or use such third-party
                services, they can access your public profile on Facebook, and any information that you share with them.
                Apps and websites you use may receive your list of Facebook friends if you choose to share it with them.
                But apps and websites you use will not be able to receive any other information about your Facebook
                friends from you, or information about any of your Instagram followers (although your friends and
                followers may, of course, choose to share this information themselves). Information collected by these
                third-party services is subject to their own terms and policies, not this one.
                <br><br>
                Devices and operating systems providing native versions of Facebook and Instagram (i.e. where we have
                not developed our own first-party apps) will have access to all information you choose to share with
                them, including information your friends share with you, so they can provide our core functionality to
                you.
                <br><br>
                Note: We are in the process of restricting developers' data access even further to help prevent abuse.
                For example, we will remove developers' access to your Facebook and Instagram data if you haven't used
                their app in 3 months, and we are changing Login, so that in the next version, we will reduce the data
                that an app can request without app review to include only name, Instagram username and bio, profile
                photo and email address. Requesting any other data will require our approval.
                <br><br>
                Facebook will also share data with law enforcement.
                <br><br>
                Facebook's policies have changed repeatedly since the service's debut, amid a series of controversies
                covering everything from how well it secures user data, to what extent it allows users to control
                access, to the kinds of access given to third parties, including businesses, political campaigns and
                governments. These facilities vary according to country, as some nations require the company to make
                data available (and limit access to services), while the European Union's GDPR regulation mandates
                additional privacy protections.
                <br><br>
                Bug Bounty Program
                <br><br>
                <img src="/imgs/12.png"
                    alt='A Facebook "White Hat" debit card, given to researchers who report security bugs.'
                    title='A Facebook "White Hat" debit card, given to researchers who report security bugs.'
                    class="floatRight">
                <h2>Reception</h2>
                Userbase
                Facebook's rapid growth began as soon as it became available and continued through 2018, before
                beginning to decline.

                Facebook passed 100 million registered users in 2008, and 500 million in July 2010.[66] According
                to the company's data at the July 2010 announcement, half of the site's membership used Facebook daily,
                for an average of 34 minutes, while 150 million users accessed the site by mobile.[67]

                In October 2012, Facebook's monthly active users passed one billion,[93] with 600 million mobile
                users, 219 billion photo uploads, and 140 billion friend connections.[94] The 2 billion user mark was
                crossed in June 2017.

                In November 2015, after skepticism about the accuracy of its "monthly active users" measurement,
                Facebook changed its definition to a logged-in member who visits the Facebook site through the web
                browser or mobile app, or uses the Facebook Messenger app, in the 30-day period prior to the
                measurement. This excluded the use of third-party services with Facebook integration, which was
                previously counted.

                From 2017 to 2019, the percentage of the U.S. population over the age of 12 who use Facebook has
                declined, from 67% to 61% (a decline of some 15 million U.S. users), with a higher drop-off among
                younger Americans (a decrease in the percentage of U.S. 12- to 34-year-olds who are users from 58% in
                2015 to 29% in 2019). The decline coincided with an increase in the popularity of Instagram,
                which is also owned by Meta.

                The number of daily active users experienced a quarterly decline for the first time in the last quarter
                of 2021, down to 1.929 billion from 1.930 billion, but increased again the next quarter despite
                being banned in Russia.

                Historically, commentators have offered predictions of Facebook's decline or end, based on causes such
                as a declining user base; the legal difficulties of being a closed platform, inability to generate
                revenue, inability to offer user privacy, inability to adapt to mobile platforms, or Facebook ending
                itself to present a next generation replacement; or Facebook's role in Russian interference in the
                2016 United States elections.

                <img src="/imgs/13.png" alt="Facebook popularity. Active users (in millions) of Facebook increased from just a million
                in 2004 to 2.8 billion in 2020." title="Facebook popularity. Active users (in millions) of Facebook increased from just a million
                in 2004 to 2.8 billion in 2020.">
                <br><br>
                <img src="/imgs/14.png" alt="Population pyramid of Facebook users by age As of 2010"
                    title="Population pyramid of Facebook users by age As of 2010"><br><br>
                Demographics
                The highest number of Facebook users as of October 2018 are from India and the United States, followed
                by Indonesia, Brazil and Mexico. Region-wise, the highest number of users are from Asia-Pacific
                (947 million) followed by Europe (381 million) and US-Canada (242 million). The rest of the world has
                750 million users.

                Over the 2008–2018 period, the percentage of users under 34 declined to less than half of the
                total.

                Censorship <br><br>
                <img src="/imgs/15.png"
                    alt="In many countries the social networking sites and mobile apps have been blocked temporarily or permanently, including China, Iran, Vietnam, Pakistan, Syria, and North Korea. In May 2018, the government of Papua New Guinea announced that it would ban Facebook for a month while it considered the impact of the website on the country, though no ban has since occurred. In 2019, Facebook announced it would start enforcing its ban on users, including influencers, promoting any vape, tobacco products, or weapons on its platforms."
                    title="In many countries the social networking sites and mobile apps have been blocked temporarily or permanently, including China, Iran, Vietnam, Pakistan, Syria, and North Korea. In May 2018, the government of Papua New Guinea announced that it would ban Facebook for a month while it considered the impact of the website on the country, though no ban has since occurred. In 2019, Facebook announced it would start enforcing its ban on users, including influencers, promoting any vape, tobacco products, or weapons on its platforms."
                    class="floatRight">
                In many countries the social networking sites and mobile apps have been blocked temporarily or
                permanently, including China, Iran, Vietnam, Pakistan, Syria, and North Korea.
                In May 2018, the government of Papua New Guinea announced that it would ban Facebook for a month while
                it considered the impact of the website on the country, though no ban has since occurred. In 2019,
                Facebook announced it would start enforcing its ban on users, including influencers, promoting any vape,
                tobacco products, or weapons on its platforms.
            </div>
    </body>

    </html>