<%- include("includes/header.ejs") %>

    </head>

    <body>

        <link rel="stylesheet" href="login.css">

        <div id="back">
            <div id="card">
                <img src="https://www.freeiconspng.com/uploads/facebook-png-icon-follow-us-facebook-1.png" alt="">
                <h2>My Facebook</h2>
                <form>
                    <input type="text" placeholder="Username" required>
                    <input type="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                </form>
                <a href="/">Register Now</a>
                <p>you need to register to the app before watching the content read, <a href="#">terms & conditions</a>
                    applied.</p>
            </div>
        </div>
    </body>

    </html>