<%- include("includes/header.ejs") %>

    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="profile.css">
    </head>

    <body>


        <div id="back">
            <div id="card">
                <img src="https://image.flaticon.com/icons/png/512/147/147144.png" alt="">
                <h2>campk12</h2>
                <h2>campk12@gmail.com</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora culpa aliquid vitae excepturi
                    consequuntur. Adipisci maxime temporibus a quo iure fugit. Dolore officia maxime tempora quas
                    similique
                    ducimus quisquam unde.</p>

                <a href="/">Logout</a>

            </div>
        </div>
    </body>

    </html>