.homeContent {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    height: 150px;
    margin: 15px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.legendspan {
    display: inline-block;
    font-weight: 10px;
    height: 10px;
    width: 10px;
    margin-right: 20px;
}

ul li {
    list-style-type: none;
}